<section class="about">
	<div class="container">		
			<div class="row justify-content-center">
					<div class="col-12 col-lg-10">
						<div class="title-page-container">
							<h2 class="title-page title">Sobre<span class="sub">Mi</span></h2>
						</div>
						<p class="about-description">
						{{site.data.authors.primary.about}} 						
						</p>
					</div>
					<div class="col-12">
						<a class="btn btn-primary btn-inverted" href="{{ site.baseurl}}/contact">Contactame</a>
					</div>		
			</div>		
	</div>
</section>