<section class="about">
	<div class="container">		
			<div class="row justify-content-center">
					<div class="col-12 col-lg-5  col-xl-5">
						<div class="title-page-container">
							<h2 class="title-page title">Sobre<span class="sub">Mi</span></h2>
						</div>
					</div>
					<div class="col-12 col-lg-6 col-xl-6">
						<img class="about-image" src="/assets/images/about-image.jpg" />
					</div>
					<div class="col-12 col-lg-9">
						<p class="about-description">
						{{site.data.authors.primary.about}} 						
						</p>
					</div>
					<div class="col-12 col-lg-9">
						<h4>Intereses</h4>
						<ul>
							<li>Inteligencia Artificial</li>
							<li>Machine Learning</li>
							<li>Data Science</li>
							<li>El fascinante mundo de Javascript</li>
							<li>Desarrollo Web</li>							
						</ul>
					</div>
					<div class="col-12 col-lg-11 col-xl-11 text-center">
						<a class="btn btn-primary btn-inverted" href="{{ site.baseurl}}/contact">Contactame</a>
					</div>		
			</div>		
	</div>
</section>