<div class="col-sm-6 col-md-12 col-lg-12 col-xl-12 container-post blog-item">
	<article class="BlogItem" >
		<div class="BlogItem__body">
			<!-- <span class="category">TECH</span> -->
			<div class="BlogItem__cover"> 
				<a href="{{ post.url }}">

					{% if post.image.feature %}
						<img src="{{ site.baseurl }}/assets/images/{{ post.image.feature }}" alt="">
					{% elsif post.feature %}
						<img src="{{ post.feature }}" alt="">	
					{% else %}
						<img src="{{ site.baseurl }}/assets/images/thumb01.jpg" alt="">
					{% endif %}		     					
				</a>
			</div>
			<div class="BlogItem__info">
				<!-- titulo -->
				<a class="BlogItem__title" href="{{ post.url }}">
					{{ post.title }}
				</a>

				<!-- Metas -->
				<!-- Fecha de publicación -->
				<span class="BlogItem__date">
					<i class="fa fa-calendar" aria-hidden="true"></i>
					{% include post-date.html %}
				<span class="middotDivider"></span>
					<i class="fa fa-clock-o" aria-hidden="true"></i> 				
					{% include read-time.html %}
				</span>

				<!-- description -->
				<p class="BlogItem__description">{{ post.content | strip_html | truncate: 170 }}</p>
				
				<a class="BlogItem__read no-decoration" href="{{ post.url }}">
					<span>Leer</span>
				</a>
			</div>
		</div>
	</article>
	
</div>