<div class="col-lg-4 col-md-6 col-sm-6  container-post">
	<article class="portblog-item post-item" >
		<div class="box-body">
			<!-- <span class="category">TECH</span> -->
			<div class="cover"> 
				<a href="{{ post.url }}">

					{% if post.image.feature %}
						<img src="{{ site.baseurl }}/assets/images/{{ post.image.feature }}" alt="">
					{% else %}
						<img src="{{ site.baseurl }}/assets/images/thumb01.jpg" alt="">
					{% endif %}		     					
				</a>
			</div>
			<div class="box-info">
				<!-- Metas -->
				<!-- Fecha de publicación -->
				<span class="post-date">
					<i class="fa fa-calendar" aria-hidden="true"></i>
					{% include post-date.html %}
				<span class="middotDivider"></span>
					<i class="fa fa-clock-o" aria-hidden="true"></i> 				
					{% include read-time.html %}
				</span>

				<!-- titulo -->
				<a class="link post-title" href="{{ post.url }}">
					{{ post.title }}
				</a>
				<!-- description -->
				<p class="description">{{ post.content | strip_html | truncate: 170 }}</p>
				
				<a class="link" href="{{ post.url }}">Read More</a>
			</div>
		</div>
	</article>
	
</div>