<footer class="footerwrap bg-primary">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<h4>About</h4>
				<div class="hline-w"></div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda sunt nihil, beatae eum repudiandae consequatur reiciendis iusto nisi expedita laboriosam, possimus voluptates aliquid iure quod minus nemo doloremque! Facilis, tempora!</p>
			</div>
			<div class="col-lg-4">
				<h4>Social Links</h4>
				<div class="hline-w"></div>
				<p>
					<a href="#"><i class="fa fa-dribbble"></i></a>
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-instagram"></i></a>
					<a href="#"><i class="fa fa-tumblr"></i></a>
				</p>
			</div>
			<div class="col-lg-4">
				<h4>Our Bunker</h4>
				<div class="hline-w"></div>
				<p>
					Some Ave, 987<br>
					23980, New York, <br>
					United States. <br>
				</p>
			</div>
		</div>
	</div>
</footer>