<footer class="footerwrap">
	<div class="container">
		<div class="row">			
			<div class="col-3">
				<div class="footer-col-logo">					
					<div class="footer-logo-container">
						<p class="footer-logo font-gradient">D</p>
					</div>
					<div>
						<p class="title-logo">Dante Calderón</p>
					</div>
				</div>
			</div>
			<div class="col-sm-7">				
				<div class="footer-about">
					<h4>About Me</h4>
					<hr class="footer-hr">
					<p>Soy una persona que le dedica la mayor parte del tiempo a programar, tengo mucha pasion por ello, aprendi a programar de manera autodidacta.</p>
				</div>
			</div>		
			<div class="col-sm-2">				
				<div class="footer-nav">
					<h4>DANTE</h4>
					<hr class="footer-hr">
					<ul>						

						{% for item in site.data.settings.menu_footer %}
							<li>
								{% if item.path == "" %}
									<a href="{{ site.baseurl }}/{{ item.url}}">{{ item.name }}</a>
								{% else %}
									<a href="{{ site.baseurl }}/{{ item.path }}/{{ item.url}}">{{ item.name }}</a>
								{% endif %}
							</li>	
						{% endfor %}			
					</ul>
				</div>
			</div>		
		</div>	

		<div class="row">
			<div class="col-6">				
				<p class="footer-love">
					<span href="" class="a">
			          	<i class="fa fa-code" aria-hidden="true"></i>		          			
			          	with 
			          	<i class="fa fa-heart" aria-hidden="true"></i>
							
			          	by 
					</span>
		          <a href="https://twitter.com/dantehemerson"  target="_blank">
		          	<span class="author">@dantehemerson</span>
		          </a>					
				</p>
			</div>
			<div class="col-6">
				<div class="footer-social-container">
					{% for item in site.data.settings.social %}
						<a class="fa fa-{{ item.icon }} link-no-border" href="{{ item.link }}" target="_blank" title="{{ item.title }}" ></a>
					{% endfor %}					
				</div>				
			</div>
		</div>		

	</div>

	<script src="{{ site.baseurl }}/assets/scripts/jquery.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="{{ site.baseurl }}/assets/scripts/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="{{ site.baseurl }}/assets/scripts/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</footer>