<nav class="navbar navbar-expand-sm fixed-top navbar-dark navbar-custom">
	{% if layout.title == "Blog" %}
		<div class="progress-bar" data-minutes="{%include read-time-integer.html%}">
		    <span class="time time-completed"></span>
		    <div class="bar">
		        <span class="completed" style="width:0%;"></span>
		        <span class="remaining" style="width:100%;"></span>
		    </div>
		    <span class="time time-remaining"></span>
		</div>
	{% endif %}

	<div class="container">		
		<a class="navbar-brand link-no-border" href='{{ site.baseurl }}/{% if page.title == "Blog" %}blog{% elsif layout.title == "Blog" %}blog{% endif %}'>
			<div>
				<span class="logo va-middle">Dante</span> 								
				{% if page.title == "Blog" %}
					<span class="logo-blog">Blog</span>
				{% elsif layout.title == "Blog" %}
					<span class="logo-blog">Blog</span>							
				{% endif %}

			</div>

			<!-- {% unless page.title == "Home" %} -->
			<!-- {% endunless %} -->
		</a>
		
		<button id="navbarToggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-label="Toggle navigation">
			<span class="burger-menu-toggler">				
			</span>
		</button>

		<div class="navbar-collapse collapse" id="navbarNav">
			<ul class="navbar-nav">				
				{% for item in site.data.settings.menu %}
					<li class="nav-item {% if item.name == page.title %}active{% elsif layout.title == item.name %}active{% endif %}">
						{% if item.path == "" %}							
							<a class="nav-link link-no-border {{ item.name | downcase }}" href="{{ site.baseurl }}/{{ item.url}}">
								<img class="icon-item black" src="https://icongr.am/clarity/{{item.icon}}.svg?size=20&color=13131b" />
								<img class="icon-item light" src="https://icongr.am/clarity/{{item.icon}}.svg?size=20&color=ffffff" />
								{{ item.name }} 
								{% if item.name == page.title %}<span class="sr-only">(current)</span>{% endif %}
							</a>
						{% else %}
							<a class="nav-link link-no-border" href="{{ site.baseurl }}/{{ item.path }}/{{ item.url}}">{{ item.name }}</a>
						{% endif %}
					</li>	
				{% endfor %}				
			</ul>		
		</div>
	</div>
</nav>