<nav class="navbar navbar-expand-sm fixed-top navbar-dark navbar-custom">
	<div class="container">
		
		<a class="navbar-brand link-no-border" href="{{ site.baseurl }}/">
			<div>
				<span class="logo va-middle">Dante</span> 								
			</div>
			<!-- {% unless page.title == "Home" %} -->
			<!-- {% endunless %} -->
		</a>

		<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">		    <i class="fa fa-bars" aria-hidden="true"></i>

		</button> -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="burger-menu-toggler">
				
			</span>

		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">				
				{% for item in site.data.settings.menu %}
					<li class="nav-item {% if item.name == page.title %}active{% endif %}">
						{% if item.path == "" %}
							<a class="nav-link link-no-border" href="{{ site.baseurl }}/{{ item.url}}">{{ item.name }} 
								{% if item.name == page.title %}<span class="sr-only">(current)</span>{% endif %}
							</a>
						{% else %}
							<a class="nav-link link-no-border" href="{{ site.baseurl }}/{{ item.path }}/{{ item.url}}">{{ item.name }}</a>
						{% endif %}
					</li>	
				{% endfor %}				
			</ul>		
		</div>
	</div>
</nav>