<nav class="navbar navbar-expand-sm fixed-top navbar-dark navbar-custom">
	<div class="container">
		
		<a class="navbar-brand link-no-border" href='{{ site.baseurl }}/{% if page.title == "Blog" %}blog{% elsif layout.title == "Post" %}blog{% endif %}'>
			<div>
				<span class="logo va-middle">Dante</span> 								
				{% if page.title == "Blog" %}
					<span class="logo-blog">Blog</span>
				{% elsif layout.title == "Blog" %}
					<span class="logo-blog">Blog</span>							
				{% endif %}

			</div>

			<!-- {% unless page.title == "Home" %} -->
			<!-- {% endunless %} -->
		</a>
		
		<button id="navbarToggler" class="navbar-toggler" type="button"  aria-label="Toggle navigation">
			<span class="burger-menu-toggler">
				
			</span>

		</button>

		<div class="navbar-collapse hide" id="navbarNav">
			<ul class="navbar-nav">				
				{% for item in site.data.settings.menu %}
					<li class="nav-item {% if item.name == page.title %}active{% elsif layout.title == item.name %}active{% endif %}">
						{% if item.path == "" %}
							<a class="nav-link link-no-border" href="{{ site.baseurl }}/{{ item.url}}">{{ item.name }} 
								{% if item.name == page.title %}<span class="sr-only">(current)</span>{% endif %}
							</a>
						{% else %}
							<a class="nav-link link-no-border" href="{{ site.baseurl }}/{{ item.path }}/{{ item.url}}">{{ item.name }}</a>
						{% endif %}
					</li>	
				{% endfor %}				
			</ul>		
		</div>
	</div>
</nav>