<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 container-portfolio-item">
	<article class="portblog-item portfolio-item">
		<div class="box-body">
			<div class="cover">				
				<a href="{{ post.url }}">

						{% if post.image.feature %}
							<img src="{{ site.baseurl }}/assets/images/{{ post.image.feature }}" alt="">
						{% else %}
							<img src="{{ site.baseurl }}/assets/images/thumb01.jpg" alt="">
						{% endif %}		     					
				</a>			
			</div>			
			<div class="row actions">
				<div class="col-6">
					<a class="link-no-border" target="_blank" href="{{ post.github }}">
						<i class="fa fa-code"></i>
						Source Code
					</a>
				</div>
				<div class="col-6">
					<a class="link-no-border" target="_blank" href="{{ post.url }}">
						<i class="fa fa-eye"></i>
						Demo
					</a>
				</div>				
			</div>
		</div>
	</article>	

</div>