<div class="col-xl-4 col-md-6 col-sm-12 container-portfolio-item">
	<article class="portblog-item portfolio-item PortfolioItem">
		<a href="{{ post.url }}">
			<div class="box-body">
				<div class="PortfolioItem__bar">
					<div class="PortfolioItem__bar__button"></div>				
				</div>
				<div class="cover">				
							{% if post.image.feature %}
								<img src="{{ site.baseurl }}/assets/images/{{ post.image.feature }}" alt="">
							{% else %}
								<img src="{{ site.baseurl }}/assets/images/thumb01.jpg" alt="">
							{% endif %}		     					
				</div>			
			</div>			
			<div class="PortfolioItem__info">				
					<p class="PortfolioItem__title">{{ post.title }}</p>
					<p class="PortfolioItem__description">Acompañame en esta historia</p>
			</div>						
		</a>		
	</article>	

</div>