<!-- Si el año es el actual entonces no muestra el año, de otro
	modo si.
	Ademas truncamos el nombre del mes a 3 digitos(en inglés) -->

<!-- Año y mes del post -->
{% assign y = post.date | date: "%Y" %}
{% assign m = post.date | date: "%-m" %}

<!-- Año Actual -->
{% assign currentYear = 'now' | date: "%Y" %}

{% case m %}
	{% when '1' %}Jan
	{% when '2' %}Feb
	{% when '3' %}May
	{% when '4' %}Apr
	{% when '5' %}May
	{% when '6' %}Jun
	{% when '7' %}Jul
	{% when '8' %}Aug
	{% when '9' %}Sep
	{% when '10' %}Oct
	{% when '11' %}Nov
	{% when '12' %}Dec
{% endcase %}

{% if y == currentYear %}
	{{ post.date | date: "%-d" }}
{% else %}
	{{ post.date | date: "%-d, %Y"}}
{% endif %}
