<div class="container container-full suscribe-container">
	<div class="row justify-content-center">
		<div class="col-12">			
			<h3 class="title-suscribe">Suscribete a mi newsletter</h3>
			<p class="slogan-blog">
				Tutoriales sobre programación y otras cosas que se me ocurren.
			</p>
		</div>
		<div class="col-md-8 col-lg-6 ">
			<form class="form-suscribe">
				<div class="form-container">
					<input class="email" type="email" name="email" required placeholder="tu@email.com">
					<input class="btn btn-primary sign-in" type="submit" name="" value="Suscribirme">
				</div>
			</form>
		</div>		
	</div>
</div>
