<div class="container suscribe-container pb-xl">
	<div class="row justify-content-center">
		<div class="col-12">			
			<h3 class="title-suscribe">Join our newsletter</h3>
		</div>
		<div class="col-md-8 col-lg-6 ">			

			<form class="form-suscribe">
				<div class="form-container">
					<input class="form-control email" type="email" name="email" required placeholder="you@example.com">

					<input class="btn btn-primary sign-in" type="submit" name="" value="Sign up">
				</div>
				
			</form>
		</div>		
		
	</div>
</div>