@import 'variables';
$hr-about-color: $titles-color;

.about {
  text-align: center;
  padding: 60px 0;
  background: #dedede;
   box-shadow: 0 0 80px black;
   margin-bottom: 50px;
}

.about .about-description {
	font-size: 18px;
	margin-top: 45px;
}

.about-title {
	margin-bottom: 0;
}

.about-hr {
	background-color: $navbar-font-color;
	width: 75px;
	height: 4px;
	border: none;	
	margin-top: 7px;
	box-shadow: 0 0 8px $navbar-font-color;
}