@import 'variables';
$hr-about-color: $titles-color;

.about {
  text-align: left;
  padding: 60px 0;
  background: white;  
	position: relative;
	color: #383838;	
  &:before {
		position: absolute;
		content: "";
		background: url('/assets/images/wave.png');
		left: 0;
    	top: -29px;
    	width: 100%;
   	 height: 29px;
    	transform: rotate(180deg);
  }

  .tite-interest {
	
  }
	ul {

	  li {
			font-size: 18px;
	  }
		
	}

}

section {
	&:nth-child(3) {
		margin-bottom: 50px !important;   	
	}
	
}

.about-image {
	border: 10px solid #cecece;
	width: 100%;

	@include breakpoint(lg) {
		transform: rotate(12deg);
		margin-top: 30px;		
	}
}


.about .about-description {
	font-size: 18px;
	margin-top: 45px;
	
}

.title-page-container  {
	text-align: left;
	margin-top: 30px;
	margin-bottom: 100px;	

	.title-page {
		color: #333333;
		.sub {
			color: #758d75;
		}
	}
	@include breakpoint(xs) {
		margin: 0 0 50px 0;
	}
}

.about-hr {
	background-color: $navbar-font-color;
	width: 75px;
	height: 4px;
	border: none;	
	margin-top: 7px;
}