// BLOG
// La altura de la imagen es fija :(
@import "suscribe";
@import "portblog-item";
@import "variables";

body {
  background-image: url("../assets/images/textures/brick-wall.png");
}

// BLOG ITEM (POST) 
  .container-post {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
    
  }

    .post-item {
      height: 100%;
      background: white;
    }

  .middotDivider:after {
      content: '\00B7';
      font-weight: bold;
      padding: 0 2px;
  }
 
  .post-item .box-body .box-info {
    padding: 30px;
    padding-top: 9px;
    padding-bottom: 10px;
  }

  .post-item .box-body .box-info .post-title {
    font-size: 24px;
    font-family: $avenir-medium;
    line-height: 30px;
    color: #565656;
    transition: .4s;
    &:hover {
      color: $link-color;
    }
  }

  .post-item .box-body .box-info .description {
    font-size: 18px;
    line-height: 30px;
    margin-top: 10px;
  }

  .post-item .box-body .box-info .post-date {
      width: 100%;
      display: block;
      font-size: 13px;
      text-align: right;
      margin-bottom: 5px;
  }



.padding-mini-about {
  padding-left: 0;
  @include breakpoint(lg) {    
    padding-right: 0;
    padding-left: 15px;
  }
}


/** Tema 2 **/
.posts-container {
  //background: #eaeaea;
  //box-shadow: 0 0 35px black;
}

.blog-item {
  position: relative;

  @include breakpoint(sm) {
    &:nth-child(odd) {      
      padding-right: 5px;
    }    
    &:nth-child(even) {
      padding-left: 5px;
    }


  }

  @include breakpoint(md) {
    &:nth-child(odd) {      
      padding-right: 0;
    }    
    &:nth-child(even) {
      padding-left: 0;
    }
  }
}



.blog-item:before {
  content: '';
  position: absolute;
  width: calc(100% - 5px);
  height: 2px;
  bottom: 0;
  
background: linear-gradient(47deg, $gradient-main-color-1 0%, $gradient-main-color-1 33%, $gradient-main-color-2 68%, $gradient-main-color-2 100%);
background: white;
    
  @include breakpoint(md) {
    width: calc(100% - 330px);
    left: 330px;
  }
}


/* Diseño 2 **/
.post-item2 {
  //background: white;

  @include breakpoint(sm) {
    height: 100%;

    .box-body {
      height: 100%;
      align-content: baseline;
      .cover {
        height: 190px;        
      }
    }
  }

  @include breakpoint(md) {
    .box-body {
      .cover {
        height: 100%;
      }
    }
  }


  .box-body {
    display: flex;
     flex-flow: row wrap;
      background: white;
    .cover {      
      overflow: hidden;
      width: 100%;

      @include breakpoint(md) {
        width: 330px;
      }    

      img {
        width: 300px;
        width: 100%;
        height: 236px;
        height: 100%;
        -o-object-fit: cover;
        -o-object-position: 50% 50%;
        object-fit: cover;
        object-position: 50% 50%;        
        transition: all .3s ease-in-out;

        &:hover {
          transform: scale(1.05);
        }
      }
      
    }

    .box-info {
      flex: 1;
      padding: 15px 20px;
      @include breakpoint(md) {
        min-height: 270px;
      }


      .post-title {

        font-family: 'Oswald', sans-serif;
        font-weight: 900;
        font-size: 22px;
        text-transform: capitalize;
        color: #676767;
        border: none;

        &:hover {
        border: none;

        color: #819da0;
        }
        
      }

      .post-date {
        display: block;
        font-family: "Avenir LT Std 65 Medium",sans-serif;        
        font-size: 13px;
        line-height: 27px;
        text-align: right;
        padding: 4px 0;
         color: #6d6d6d;

      }

      .description {
        font-family: "Avenir LT Std 65 Medium",sans-serif;
     
        font-size: 15px;
        line-height: 27px;
        color: #6d6d6d;

     
        font-family: $avenir-roman;
          font-family: 'Poppins';
         
          font-weight: 500 !important;

         

        
      }

      .link-to-post {        
        font-family: 'Raleway';
        font-weight: 900;
        font-size: 14px;
        line-height: 27px;
      }
    }
    
  }
}