// BLOG
// La altura de la imagen es fija :(
@import "suscribe";
@import "portblog-item";

// BLOG ITEM (POST) 
  .post-item {
    height: 100%;
  }
  .container-post {
    padding: 0;
    margin-bottom: 28px;
    
  }

  .middotDivider:after {
      content: '\00B7';
      font-weight: bold;
      padding: 0 2px;
  }
 
  .post-item .box-body .box-info {
    padding: 30px;
    padding-top: 9px;
    padding-bottom: 10px;
  }

  .post-item .box-body .box-info .post-title {
    font-size: 24px;
    font-family: $avenir-medium;
    line-height: 30px;
    color: $titles-color;
    transition: .4s;
    &:hover {
      color: $link-color;
    }
  }

  .post-item .box-body .box-info .description {
    font-size: 18px;
    line-height: 30px;
    margin-top: 10px;
  }

  .post-item .box-body .box-info .post-date {
      width: 100%;
      display: block;
      font-size: 13px;
      text-align: right;
      margin-bottom: 5px;
  }



