@import "variables";

body { 
  background-color: #F8F8F8;
  color: $font-color;
  font-family: "Avenir LT Std 65 Medium", "Helvetica", sans-serif;
  font-size: $font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;  
  padding: 0;
}

h1, h2, h3, h4, h5 {
  color: $titles-color;
  font-family: 'Avenir LT Std 85 Heavy', sans-serif;
  
}

button {
  cursor: pointer;
}

input[type=text], input[type=email] {
  /* TODO */
}

a {
  color: $link-color;  
  &:hover {
    color: $link-color;  
  }
}

a:hover, a:focus {
  text-decoration: none;  
}

.link {  
  border-bottom: 1px solid transparent;
  transition: all 0.4s;
  &:hover {
    border-bottom: 1px solid $link-color;
  }
}


// Estilos para la seleccion del texto
::-moz-selection  {
  color: #fff;
  text-shadow: none;
  background: #2B2E31;
}

::selection {
  color: #fff;
  text-shadow: none;
  background: #2B2E31;
}


.btn:hover {
  cursor: pointer;
}



.form-control:focus {
  border-color: #939090;
  box-shadow: 0 0 0 0.2rem transparentize($primary-color, 0.80);
}




.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1160px; /* or 950px */

}
.container-fluid.project-container {
  max-width: 990px; /* or 950px */
}


.container.container-full {
  padding-left: 25px;
  padding-right: 25px;
  width: 100%;
  max-width: 1160px;
}




@media (max-width: 576px){
    
}
@media (min-width: 576px) {
    
}

@media (min-width: 768px) {
    
}

@media (min-width: 992px) {
    
}