@import "variables";

body { 
  background-color: #F8F8F8;
  color: $font-color;
  font-family: "Avenir LT Std 65 Medium", "Helvetica", sans-serif;
  font-size: $font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;  
  padding: 0;
}

h1, h2, h3, h4, h5 {
  color: $titles-color;
  font-family: 'Avenir LT Std 85 Heavy', sans-serif;
  font-weight: 700;
}

button {
  cursor: pointer;
}

input[type=text], input[type=email] {
  /* TODO */
}



a:hover, a:focus {
  text-decoration: none;  
}


// Estilos para la seleccion del texto
::-moz-selection  {
  color: #fff;
  text-shadow: none;
  background: #2B2E31;
}

::selection {
  color: #fff;
  text-shadow: none;
  background: #2B2E31;
}






/** Customizando los colores de Boostrap **/
.bg-primary {
  background-color: $primary-color !important;
}

.bg-secondary {
  background-color: $secondary-color !important;
}

.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
}
.btn-primary:hover {
    background-color: $hover-default-color;
    border-color: $hover-default-color;
}

.form-control:focus {
  border-color: #939090;
  box-shadow: 0 0 0 0.2rem transparentize($primary-color, 0.80);
}




.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1160px; /* or 950px */
  // padding-left: 25px;
  // padding-right: 25px;
}
.container-fluid.project-container {
  max-width: 990px; /* or 950px */
}


.container.container-full {
  padding-left: 25px;
  padding-right: 25px;
  width: 100%;
  max-width: 1160px;
}




@media (max-width: 576px){
    .footer-love {      
      text-align: center; 
    }
    .footerwrap p {
      text-align: center;
      margin-top: 2px;
      margin-bottom: 2px;
    }
}
@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}