@import "variables";

/** Fuente Avenir **/
@import "avenir-lt-std";

body { 
  background-color: $background-color;
  color: $font-color;
  font-family: 'Audiowide', cursive;
  font-size: $font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;  
  padding: 0;
}

h1, h2, h3, h4, h5 {
  color: white;
  font-family: 'Audiowide', cursive;
}



button {
  cursor: pointer;
}



a {
  border-bottom: 1px solid transparent;
  transition: all 0.4s;
  color: $link-color;  
  &:hover {
    color: $link-color;  
    border-bottom: 1px solid $link-color;
  }
}


hr {
  margin-top: 20px;
  margin-bottom: 20px;
}


a:hover, a:focus {
  text-decoration: none;  
}

.link-no-border {  
  border-bottom: 0px solid transparent;
  &:hover {
    border-bottom: 0px solid transparent;
  }
}


.background-gradient {
  /* BACKGROUND GRADIENT */
  background: -moz-linear-gradient(43deg, rgba(164,27,239,1) 0%, rgba(164,27,239,1) 33%, rgba(254,0,114,1) 68%, rgba(254,0,114,1) 100%) !important; /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(164,27,239,1)), color-stop(33%, rgba(164,27,239,1)), color-stop(68%, rgba(254,0,114,1)), color-stop(100%, rgba(254,0,114,1))) !important; /* safari4+,chrome */
  background: -webkit-linear-gradient(43deg, rgba(164,27,239,1) 0%, rgba(164,27,239,1) 33%, rgba(254,0,114,1) 68%, rgba(254,0,114,1) 100%) !important; /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(43deg, rgba(164,27,239,1) 0%, rgba(164,27,239,1) 33%, rgba(254,0,114,1) 68%, rgba(254,0,114,1) 100%) !important; /* opera 11.10+ */
  background: -ms-linear-gradient(43deg, rgba(164,27,239,1) 0%, rgba(164,27,239,1) 33%, rgba(254,0,114,1) 68%, rgba(254,0,114,1) 100%) !important; /* ie10+ */
  background: linear-gradient(47deg, rgba(164,27,239,1) 0%, rgba(164,27,239,1) 33%, rgba(254,0,114,1) 68%, rgba(254,0,114,1) 100%) !important; /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a41bef', endColorstr='#fe0072',GradientType=1 ) !important; /* ie6-9 */  
}

.font-gradient {
  /* BACKGROUND GRADIENT */
  background: -moz-linear-gradient(43deg, rgba(164,27,239,1) 0%, rgba(164,27,239,1) 33%, rgba(254,0,114,1) 68%, rgba(254,0,114,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(164,27,239,1)), color-stop(33%, rgba(164,27,239,1)), color-stop(68%, rgba(254,0,114,1)), color-stop(100%, rgba(254,0,114,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(43deg, rgba(164,27,239,1) 0%, rgba(164,27,239,1) 33%, rgba(254,0,114,1) 68%, rgba(254,0,114,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(43deg, rgba(164,27,239,1) 0%, rgba(164,27,239,1) 33%, rgba(254,0,114,1) 68%, rgba(254,0,114,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(43deg, rgba(164,27,239,1) 0%, rgba(164,27,239,1) 33%, rgba(254,0,114,1) 68%, rgba(254,0,114,1) 100%); /* ie10+ */
  background: linear-gradient(47deg, rgba(164,27,239,1) 0%, rgba(164,27,239,1) 33%, rgba(254,0,114,1) 68%, rgba(254,0,114,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a41bef', endColorstr='#fe0072',GradientType=1 ); /* ie6-9 */

  width: fit-content;
  margin: 0 auto;
  color: transparent;
  -webkit-background-clip: text;
}

// Estilos para la seleccion del texto
::-moz-selection  {
  color: #fff;
  text-shadow: none;
  background: #2B2E31;
}

::selection {
  color: #fff;
  text-shadow: none;
  background: #2B2E31;
  background: #17171785;
  
}

.title-section {
  font-size: 24px !important;
  line-height: 26px;
}

/** Bootstrap clases sobreescribiendo **/
  input, textarea {
    font-size: 18px !important;
  }

  input[type=text], input[type=email], textarea {
    padding: 10px 12px 6px !important;
    border: 1px solid black !important;
    background: #0d1922 !important;
    color: white !important;
  }

  .btn {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 30px;
    padding-right: 30px;
    transition: .4s;
    border-radius: 0 !important;
    border-width: 2px;
    font-size: 1.05rem;
    cursor: pointer;
    &:hover {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
  }

  .btn.btn-inverted {
    background-color: transparent !important;
    border-width: 2px;

    color: $primary-color !important;    
    &:hover {
      border-color: $primary-color !important;
      background: #5fd3fa30 !important;
      color: white !important;
    }

  }

  .btn.btn-primary {    
    background: $primary-color;
    border-color: $primary-color;   
    &:hover {
      background: #5fd3fa30 !important;
      border-color: $primary-color !important;
    }
    &:active {
      background: $primary-color !important;
      border-color: darken($primary-color, 2%) !important;
      box-shadow: 0 0 0 0.2rem rgba($primary-color, .5) !important;
    }
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba($primary-color, .5);
    }
  }



/** font-awesome **/  
  .fa.fa-github {
    transition: all .4s;    
    &:hover {
      color: $github-color !important;
    }
  }

  .fa.fa-twitter {
    transition: all .4s;
    &:hover {
      color: $twitter-color !important;
    }
  }

  .fa.fa-instagram {
    transition: all .4s;
    &:hover {
      color: $instagram-color !important;
    }
  }

  .fa.fa-facebook {
    transition: all .4s;
    &:hover {
      color: $facebook-color !important;
    }
  }

  .fa.fa-linkedin {
    transition: all .4s;
    &:hover {
      color: $linkedin-color !important;
    }
  }

.form-control {
  border-radius: 0 !important;
}
.form-control:focus {
  border-color: $navbar-font-color !important;
  color: white !important;
  box-shadow: 0 0 0 1px $navbar-font-color !important;
}


.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1160px; /* or 950px */

}
.container-fluid.project-container {
  max-width: 990px; /* or 950px */
}


.container.container-full {
  padding-left: 25px;
  padding-right: 25px;
  width: 100%;
  max-width: 1160px;
}

/** Paddings **/

$padding: 10px;
$padding-sm: 25px;
$padding-md: 50px;
$padding-lg: 100px;
$padding-xl: 150px;
$padding-xxl: 200px;

.ptb {
  padding-top: $padding !important;  
  padding-bottom: $padding !important;
}

  .pt {
    padding-top: $padding !important;
  }

  .pb {
    padding-bottom: $padding !important;
  }



.ptb-sm {
  padding-top: $padding-sm !important;  
  padding-bottom: $padding-sm !important;
}

  .pt-sm {
    padding-top: $padding-sm !important;
  }

  .pb-sm {
    padding-bottom: $padding-sm !important;
  }



.ptb-md {
  padding-top: $padding-md !important;  
  padding-bottom: $padding-md !important;
}

  .pt-md {
    padding-top: $padding-md !important;
  }

  .pb-md {
    padding-bottom: $padding-md !important;
  }


.ptb-lg {
  padding-top: $padding-lg !important;  
  padding-bottom: $padding-lg !important;
}

  .pt-lg {
    padding-top: $padding-lg !important;
  }

  .pb-lg {
    padding-bottom: $padding-lg !important;
  }



  .ptb-xl {
    padding-top: $padding-xl !important;  
    padding-bottom: $padding-xl !important;
  }

    .pt-xl {
      padding-top: $padding-xl !important;
    }

    .pb-xl {
      padding-bottom: $padding-xl !important;
    }

    .ptb-xxl {
      padding-top: $padding-xxl !important;  
      padding-bottom: $padding-xxl !important;
    }

      .pt-xxl {
        padding-top: $padding-xxl !important;
      }

      .pb-xxl {
        padding-bottom: $padding-xxl !important;
      }





.section-futurist {
  background: #08151d;
    padding: 60px 16px;
    border: 1px solid #00ff8d;
    position: relative;
  
}






