$hr-contact-color: $titles-color;
$font-size-socials: 70px;

.socials {
  text-align: center;
  
}
.social-network {
  text-align: center;    
}	


.social-network h3 {	
	padding-bottom: 0;
	margin-bottom: 0 !important;
}
	.container-social {				
		margin-top: 50px;
	}
	
	.container-social > div {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.container-social > div > div {		
		display: inline-block;
	}

	
	.container-social a, .container-social .info {
		color: $font-color;
	}

/** ICONOS dE REDES SOCIALES ***/
	.fa.social-styled {				
		background: #00000059;  
		display: inline-block;  
		text-decoration: none;
		color: white;		
		font-size: $font-size-socials;
		width: $font-size-socials;
		text-align: center;
		margin: 0 11px;
		border-radius: 10%;
		box-sizing: content-box !important;		
		transition: all .4s;
		&:hover {		
			color: white !important;				
			transform:  scale(1.1,1.1);		
		}
	}
	
	.fa.fa-instagram.social-styled {
		// 3
		background: #d6249f;
		background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
		font-size: $font-size-socials - 12px;
		width: $font-size-socials - 12px;
		padding: 3px;
		border-radius: 15px;
	}

	.fa.fa-twitter.social-styled {
		background: transparent;
		color: $twitter-color;
		
	
    	
		&:hover {
			color: $twitter-color !important;			
		}
	}

	.fa.fa-github.social-styled {
		background: transparent;
		color: $github-color;
		&:hover {
			color: $github-color !important;
		}
	}
	
	.fa.fa-linkedin.social-styled {
		background: $linkedin-color;		
		font-size: 41px;
		width: 44px;
		padding: 12px;		
		&:hover {
			
		}
	} 


	.contact-subtitle-hr {
		background-color: $hr-contact-color;
		width: 33px;
		height: 4px;
		border: none;	
		margin-top: 7px;
	}


.contact-header {
	text-align: center;
	margin-top: 35px;
	margin-bottom: 45px;
	margin-top: 150px;
}

.form-contact-container {
	 text-align: center;
   margin-top: 55px;
    background: #00f1b3;
    margin-bottom: 88px;
    padding: 50px 50px;
}
.form-contact-container h3 {
	margin-bottom: 0;
}

.form-contact-container form {
	margin-top: 60px;
}

.white-background {
	background: white;
	padding-top: 55px;
	padding-bottom: 55px;
}

.title-contact {	
	padding: 0;
   text-align: left;
}


// font-family: $avenir-black-obl;
// font-family: $avenir-book-obl;
// font-family: $avenir-heavy-obl;
// font-family: $avenir-light-obl;
// font-family: $avenir-medium-obl;
// font-family: $avenir-obl;
// font-family: $avenir-black;
// font-family: $avenir-book;
// font-family: $avenir-heavy;
// font-family: $avenir-light;
// font-family: $avenir-medium;
// font-family: $avenir-roman;
// font-family: 'Raleway';

.help-contact {

	font-family: $avenir-roman;

	padding-top: 10px;
   font-weight: 500;
   font-family: 'Poppins';
   font-size: 18px;
   color: #6f6f6f;
   text-align: left;
}
.header-contact hr {
	margin-top: 0;
}


@media (max-width: 575.98px) { 

	.fa.social-styled {							
		font-size: $font-size-socials - 5px;
		width: $font-size-socials - 5px;
		margin: 0 8px;
	}
	
	.fa.fa-instagram.social-styled {
		font-size: $font-size-socials - 17px;
		width: $font-size-socials - 17px;
		padding: 3px;
		border-radius: 15px;
	}

	.fa.fa-linkedin.social-styled {			
		font-size: 37px;
		width: 41px;
		padding: 11px;				
	} 

}

@media (max-width: 375.98px) {
	.fa.social-styled {									
		margin: 0 5px;
	}
}


.section-background-form {

   box-shadow: 0 0 90px black;

}