$hr-contact-color: $titles-color;
$font-size-socials: 50px;

.socials {
  text-align: center;
  
}
.social-network {
  text-align: center;    
}	


.social-network h3 {	
	padding-bottom: 0;
	margin-bottom: 0 !important;
}
	.container-social {				
		margin-top: 50px;
	}

	
	.container-social a, .container-social .info {
		color: $font-color;
	}

/** ICONOS dE REDES SOCIALES ***/
	.fa.social-styled {				
		background: #00000059;  
		display: inline-block;  
		text-decoration: none;
		color: white;
		padding: 10px;
		font-size: $font-size-socials;
		width: $font-size-socials;
		text-align: center;
		margin: 5px 2px;
		border-radius: 50%;
		box-sizing: content-box !important;		
		transition: all .4s;
		&:hover {						
			transform:  scale(1.1,1.1);		
		}
	}

	.contact-subtitle-hr {
		background-color: $hr-contact-color;
		width: 33px;
		height: 4px;
		border: none;	
		margin-top: 7px;
	}


.contact-header {
	text-align: center;
	margin-top: 35px;
	margin-bottom: 45px;
}

.contact-header p {
	padding-top: 10px;
	font-size: 18px;
}

.form-contact-container {
	text-align: center;
	margin-top: 55px;
	margin-bottom: 88px;
}
.form-contact-container h3 {
	margin-bottom: 0;
}

.form-contact-container form {
	margin-top: 60px;
}

.white-background {
	background: white;
	padding-top: 55px;
	padding-bottom: 55px;
}

.title-contact {
	margin-bottom: 40px;
}

.header-contact hr {
	margin-top: 0;
}