
/* Footer */
.footerwrap {  
  
}

.footerwrap p {
  color: white;
}

.footerwrap h4 {
  color: white;
}

.footerwrap i {
  font-size: 20px; // tamaño de los iconos del footer
  color: white;
  margin-right: 15px;
}

.footerwrap i:hover {
  color: #00b3fe
}


// Code with love by dantehemerson

.footer-love {
 
  text-align: right; 

}
.footer-love a:hover {
  color: #00b3fe
}


.footer-love a {
  color: white; 
  transition: $transition-hover;
}

.footer-love .a .fa-code {
  font-weight: bold;
  margin-right: 2px;
}
.footer-love .a .fa-code:hover {
  color: white;
}

.footer-love .a .fa-heart {
  color: #e91e63;
  font-size: 14px;
  animation: pound .35s infinite alternate;
  -webkit-animation: pound .35s infinite alternate;
}


.footer-love a .author {
  font-weight: bold;
}
.footer-love .a i {
  
  margin-right: 0;
  transition: $transition-hover;

}
