$icons-footer-size: 28px;
$font-footer-color:  black;

.Footer {    
  background: white;
  color: $font-footer-color; 
  border-top: 1px solid white;

   p {   
    margin-bottom: 0 !important;    
    font-family: 'Poppins';
    font-weight: 500 !important;  
  }

  .container {
    padding-top: 20px;
    padding-bottom: 35px;  
  }

  &__social {
    text-align: center;
    &__icon {
      padding: 0 10px;
    }
  }
}



/** Footer love **/
  .footer-love-container {
    display: flex;
    align-items: center;
  }
  .footer-love { 
    text-align: center; 
    width: 100%;
    margin-top: 5px;
  }

  .footer-love a {
    color: $font-footer-color; 
    transition: $transition-hover;
  }

  .footer-love .a .fa-code {
    font-weight: bold;
    margin-right: 2px;
  }

  .footer-love .a .fa-heart {
    color: #a55757;
    font-size: 14px;
  }

  .footer-love a .author {    
    //color: $font-footer-color;
  }