
$icons-footer-size: 25px;
$padding-footer: 30px;
$font-footer-color:  rgba(191, 191, 191, 0.51);


.footerwrap {  
  background: #232323;
  padding-top: $padding-footer + 20px;
  padding-bottom: $padding-footer;
  //background-image: url("../assets/images/img-bg-footer.png");
  color: $font-footer-color;
}

.footerwrap p {
  margin-bottom: 0 !important;
}

.footerwrap .container > div:nth-child(2) {
  margin-top: 40px;
}

.footer-hr {
  background-color: $font-footer-color;
  width: 50px;
  height: 4px;
  border: none; 
  margin-top: 7px;
  margin-left: 0;
}


.footer-nav .footer-hr {
  margin-left: auto;
}

.footerwrap h4 {
  color: white !important;
  text-transform: uppercase;
  font-size: 1.1em;
}

/** Social **/
  .footer-social-container {
    display: block;
    text-align: center;
  }

  .footerwrap .footer-social-container .fa {
    background: #00000059;  
    display: inline-block;  
    color: $font-footer-color;
    padding: 10px;
    font-size: $icons-footer-size;  
    width: $icons-footer-size;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    box-sizing: content-box !important;

    &:hover {
      border-bottom: 0;
    }
  }

  .footerwrap .footer-social-container .fa.fa-github {
    transition: all .4s;    
    &:hover {
      color: white !important;
      background: $github-color !important;
    }
  }

  .footerwrap .footer-social-container .fa.fa-twitter {
    transition: all .4s;
    &:hover {
      color: white !important;
      background: $twitter-color !important;
    }
  }

  .footerwrap .footer-social-container .fa.fa-instagram {
    transition: all .4s;
    &:hover {
      color: white !important;
      background: $instagram-color !important;

    }
  }

  .footerwrap .footer-social-container .fa.fa-facebook {
    transition: all .4s;
    &:hover {
      color: white !important;
      background: $facebook-color !important;
    }
  }

  .footerwrap .footer-social-container .fa.fa-linkedin {
    transition: all .4s;
    &:hover {
      color: white !important;
      background: $linkedin-color !important;
    }
  }

  .footerwrap a {
    &:hover {
      border-bottom: 1px solid #bfbfbf;
    }
  }


/** Footer nav **/

  .footer-nav ul {
    padding-left: 0;
  }

  .footer-nav ul li {
    list-style: none;
  }

  .footer-nav ul li a {
    color: $font-footer-color;
    padding: 10px 0;
    display: inline-block;
    padding-top: 2px;
    padding-bottom: 2px;    
  }

/** Footer Logo **/

  .footer-col-logo .copyear {
    font-family: "Courier New", Courier, monospace;   
    line-height: 1;
    font-size: 11px;
    margin-top: -17px;
    &::after, &::before {
      content: '\00B7';
      font-weight: bolder;
      padding-left: 4px;
      padding-right: 4px;
    }
  }

  .footer-logo {
    font-size: 8rem;
    line-height: 1;
    font-family: $avenir-black;        

  }




/** Footer love **/
  .footer-love { 
    text-align: center; 
    margin-top: 20px;
  }

  .footer-love a {
    color: white; 
    transition: $transition-hover;
  }

  .footer-love .a .fa-code {
    font-weight: bold;
    margin-right: 2px;
  }

  .footer-love .a .fa-heart {
    color: #e91e63;
    font-size: 14px;
  }

  .footer-love a .author {
    font-weight: bold;
    color: $font-footer-color;
  }

@media (min-width: 768px) { 
  .footer-nav .footer-hr {
    margin-left: 0;
  }
}