
.navbar-custom {
  background: $primary-color;
    box-shadow: 0px 0px 1px #c1c1c1;
}

.navbar-custom .navbar-brand {
  color: $navlink-color;
}


/**
*   ===== Cuando este sin el scroll =======
**/
.navbar-custom.shrink {
    background-color: transparent;
    padding-top: 1.5rem;
    box-shadow: none;
}


.navbar-custom .navbar-nav .nav-link {
    color: $navlink-color;
    text-transform: uppercase;
}

/* Link activo en la navbar*/
.navbar-custom .nav-item.active .nav-link {
  color: #00b3fe;
}

.navbar-custom .nav-item:hover .nav-link {
    color: #00b3fe;
}