@import 'variables';
.headerwrap {    
  padding-bottom: 0px;
  text-align: center; 
  background-color: $background-color;  
  background-position: top left !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  min-height: 0;  
}


.headerwrap .greeting, 
.headerwrap .name, 
.headerwrap .lastname {  
  text-transform: uppercase;
  line-height: 1;
  color: white;
}


.headerwrap .header-image {
  background-repeat: no-repeat;
  background-position: top left !important;
  background-position: center;

}

.headerwrap .title-container {
  padding-top: 90px;
  padding-bottom: 90px;
}

.headerwrap .title-container .greeting {
  font-size: 1.6rem;
  margin-bottom: 20px;  
}

.headerwrap .title-container .name {
  font-size: 7.3rem;
  margin-top: -0.6rem !important;
  /* BACKGROUND GRADIENT */
  background: -moz-linear-gradient(43deg, $gradient-main-color-1 0%, $gradient-main-color-1 33%, $gradient-main-color-2 68%, $gradient-main-color-2 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, $gradient-main-color-1), color-stop(33%, $gradient-main-color-1), color-stop(68%, $gradient-main-color-2), color-stop(100%, $gradient-main-color-2)); /* safari4+,chrome */
  background: -webkit-linear-gradient(43deg, $gradient-main-color-1 0%, $gradient-main-color-1 33%, $gradient-main-color-2 68%, $gradient-main-color-2 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(43deg, $gradient-main-color-1 0%, $gradient-main-color-1 33%, $gradient-main-color-2 68%, $gradient-main-color-2 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(43deg, $gradient-main-color-1 0%, $gradient-main-color-1 33%, $gradient-main-color-2 68%, $gradient-main-color-2 100%); /* ie10+ */
  background: linear-gradient(47deg, $gradient-main-color-1 0%, $gradient-main-color-1 33%, $gradient-main-color-2 68%, $gradient-main-color-2 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#{$gradient-main-color-1}, endColorstr=#{$gradient-main-color-2},GradientType=1 ); /* ie6-9 */



  width: fit-content;
  margin: 0 auto;
  color: transparent;
  -webkit-background-clip: text;
}

.headerwrap .title-container .lastname {  
  font-size: 3rem;
  margin-top: -11px;
  padding-left: 0.4em;
  letter-spacing: 1.3rem;
}
.headerwrap .title-container .username {
  text-transform: lowercase;
  font-size: 1rem;
}


.avatar {
      width: 230px;
    border: 3px solid #5fd3fa;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0 0 7px #5fd3fa;
}

@media (max-width: 767px) {
  .headerwrap .title-container {
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .headerwrap .title-container .greeting {
    margin-top: 10px;
  }

  .headerwrap .title-container .lastname {  
    padding-left: 1.6rem;
    letter-spacing: 1.3rem;  
  }
  
}



@media (max-width: 575.98px) {
  .headerwrap .title-container .greeting {
      font-size: 1.4rem;
  }
  .headerwrap .title-container .name {
    font-size: 6rem;
    margin-top: -0.6rem !important;

  }

  .headerwrap .title-container .lastname {  
    font-size: 2.65rem;
    margin-top: -11px;    
    letter-spacing: 0.8rem;
    padding-left: 16px;
  }
  .headerwrap .title-container .username {
    text-transform: lowercase;
    font-size: 1rem;
  }

  .avatar {
    width: 150px;    
  }
} 

@media (max-width: 400px) { 
  .headerwrap .title-container .greeting {
      font-size: 1.2rem;
      margin-bottom: 10px;

  }
  .headerwrap .title-container .name {
    font-size: 5rem;
    margin-top: -0.6rem !important;

  }

  .headerwrap .title-container .lastname {  
    font-size: 2rem;
    margin-top: -11px;    
    letter-spacing: 0.8rem;
    padding-left: 5px;
  }
  .headerwrap .title-container {
    padding-top: 27px;
    padding-bottom: 20px;
  }

  .avatar {
    width: 135px;    
  }
}


.slogan {
      font-size: 14px;
    color: #4e575d;
}
