.mini-about {
	box-shadow: rgba(0, 0, 0, 0.01) 0px 0px 0px 1px, rgba(0, 0, 0, 0.09) 0px 1px 4px;
	border-radius: remcalc(4px);
	padding-top: remcalc(20px);
	background: white;
   .title {
   	color: #676767;
   	text-align: center;
   	font-family: 'Patrick Hand', cursive;
   	font-size: 24px;
    line-height: 1;
   }
	.avatar {
		width: 100%;
	}

	.about-description {
    	font-size: 15px;
    	padding: 51px 20px 25px 20px;
    	text-align: center;
    	position: relative;

		background: white;
		background-size: 100px 100px; 
	   background-image: url("../assets/images/textures/billie-holiday.png");
    	.hi {
    		position: absolute;
		    background: #70b78a;
		    color: white;
		    left: -10px;
		    top: -17px;
		    font-family: 'Oswald';
		    padding: 0 10px;
		    font-size: 25px;
    	}
	}

	
}

