.mini-about {
	background: white;
   background-image: url("../assets/images/textures/billie-holiday.png");
.avatar {
		width: 100%;
	}

	.about-description {
    	font-size: 15px;
    	padding: 51px 20px 25px 20px;
    	text-align: center;
    	position: relative;

    	.hi {
    		position: absolute;
		    background: #70b78a;
		    color: white;
		    left: 0;
		    top: -17px;
		    font-family: 'Oswald';
		    padding: 0 10px;
		    font-size: 25px;
    	}
	}
}

