@import "variables";

.navbar {  
 // background: #101010;
  padding-top: $padding-navbar;
  padding-bottom: $padding-navbar;  
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-custom .navbar-brand {
  color: $navlink-color;
  font-size: 1.7rem;
}

.navbar-custom .navbar-nav .nav-link {
    color: $navlink-color !important;
    //text-shadow: 0 0 8px $navlink-color;
    position: relative;
    margin-left: 4px;
    margin-right: 4px;
    text-transform: uppercase;
    
    font-family: $avenir-heavy;
}

.navbar-custom .navbar-nav .nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: $navlink-color;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-custom .navbar-nav .nav-link:hover {
    color: $navlink-color;
    //text-shadow: 0 0 8px $navlink-color;
    

}

.navbar-custom .navbar-nav .nav-link:hover:before {
  visibility: visible;
    text-shadow: 0 0 8px $navlink-color;

  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.navbar-custom .navbar-nav .nav-item.active .nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $navlink-color;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
    text-shadow: 0 0 8px $navlink-color;

}


.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  height: 50px;
}


.va-middle {
  vertical-align: middle;
}

.logo {
  font-size: 1.5rem;
  
  /* BACKGROUND GRADIENT */
  background: -moz-linear-gradient(43deg, $gradient-main-color-1 0%, $gradient-main-color-1 33%, $gradient-main-color-2 68%, $gradient-main-color-2 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, $gradient-main-color-1), color-stop(33%, $gradient-main-color-1), color-stop(68%, $gradient-main-color-2), color-stop(100%, $gradient-main-color-2)); /* safari4+,chrome */
  background: -webkit-linear-gradient(43deg, $gradient-main-color-1 0%, $gradient-main-color-1 33%, $gradient-main-color-2 68%, $gradient-main-color-2 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(43deg, $gradient-main-color-1 0%, $gradient-main-color-1 33%, $gradient-main-color-2 68%, $gradient-main-color-2 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(43deg, $gradient-main-color-1 0%, $gradient-main-color-1 33%, $gradient-main-color-2 68%, $gradient-main-color-2 100%); /* ie10+ */
  background: linear-gradient(47deg, $gradient-main-color-1 0%, $gradient-main-color-1 33%, $gradient-main-color-2 68%, $gradient-main-color-2 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#{$gradient-main-color-1}, endColorstr=#{$gradient-main-color-2},GradientType=1 ); /* ie6-9 */

  text-transform: uppercase;
  width: fit-content;
  margin: 0 auto;
  color: transparent;
  -webkit-background-clip: text;
  display: inline-block;

  
  font-family: 'Audiowide';
  font-family: 'Poppins';
  font-weight: 300 !important;
  font-weight: 900 !important;


}

.logo-text {
  margin-left: -3px;
}



@media (max-width: 576px){
  .navbar {
    ///background: white;
  }   
}
