@import "variables";

.navbar {    
  padding-top: $padding-navbar;
  padding-bottom: $padding-navbar;  
  transition: all .4s;
  &.no-topbar {
     border-bottom: 1px solid #ebebeb;
    background: rgba(255, 255, 255, 0.984);

    .navbar-nav .nav-link {
      color: #282a2d !important;
    }
  }

  .navbar-nav {
    @include breakpoint(xs) {
      text-align: center;
    }
  } 
}
  /** Clase para cuando la navbar este abierta en xs **/
  .navbar-open {    

    .container {      
      .burger-menu-toggler {   
        background: transparent;
        transition: all .25s;
         
         &:after {
           @extend .b-a-expanded;           
            transform: rotate(405deg);

         }
         &:before {
           @extend .b-a-expanded;           
          transform: rotate(-45deg);

         }
       }
    }
  }



  .b-a {
     transition: all .25s; 
     position: absolute;
     content: "";
     left: 0;           
     height: 2px;
     width: 30px;  
     border-radius: 0;  
     background-color: white;
  }

  .b-a-expanded {
   transition: all .25s;
   top: 0;
}
  .navbar-toggler {

    border-radius: 0;
    padding: 0;
    border: 0;
    width: 30px;
    height: 18px;
    position: relative;

    &:focus {
      border: 0;        
      outline-width: 0;
    }

    .burger-menu-toggler {   
       @extend .b-a;       
       top: 8px;

      
       &:after {
         @extend .b-a;
         content: ""; 
         position: absolute;
         top: -8px;
         left: 0;
       }
       &:before {
         @extend .b-a;
         content: ""; 
         position: absolute;
         top: 8px;
         left: 0;
       }
     }

  }
   

.navbar-collapse {
  flex-grow: 0;
}

.navbar-custom .navbar-brand {
  font-size: 1.4rem;

  position: relative;
  .logo-blog {
    color: white;
    position: absolute;
        top: 5px;
        left: 99%;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 11px;
        background: #70b78a;
        border-radius: 2px;
        padding: 0 3px;
  }
}


.navbar-custom .navbar-nav .nav-link {
    color: white !important;
    position: relative;
    margin-left: 4px;
    margin-right: 4px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Oswald', sans-serif;    
    .icon-item {
      font-size: 20px !important;
      padding-right: 4px;
      width: 23px;
      margin-top: -5px;
    }

  &:hover {
    color: $navlink-color;
  }
    &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #b9b9b9;  
    visibility: hidden;
  }
}

.navbar-custom .navbar-nav .nav-item.active .nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -4px;
  left: 0;
  visibility: visible;
  text-shadow: 0 0 8px $navlink-color;
}


.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  height: 50px;
}


.va-middle {
  vertical-align: middle;
}

.logo {
  font-size: 1.5rem;
  
  background: black;
  text-transform: uppercase;
  width: fit-content;
  margin: 0 auto;
  color: transparent;
  -webkit-background-clip: text;
  display: inline-block;

  font-weight: 900 !important;
}

.logo-text {
  margin-left: -3px;
}


/// PROGRESS BAR 
$height-bar: 2px;

.progress-bar {
   position: fixed;
   left: 0;
   right: 0;  
   top: 0; 
   display: flex;
   align-items: center;
   width: 100%;
   background-color: black;   

   .bar {
      display: block;
      width: 100%;           
       background: linear-gradient(47deg, #127caf 0%, #127caf 33%, #16ad2f 68%, #16ad2f 100%);       

   }

   .completed {
      float: left;
      display: block;
      height: $height-bar;
      background-color: transparent;
   }

   .remaining {
      float: left;
      display: block;
      height: $height-bar;
      background-color: white;
   }
  
  .time {
    width: 60px;
    font-size: 14px;
    padding: 10px;
    text-align: center;   
    font-family: "Lucida Console", Monaco, monospace;
    display: none;

    &.time-completed {
    }

    &.time-remaining {
    }

  }


}
