.portblog-item {  
    margin: 10px 0;    
}


.portblog-item .box-body .cover img {
  width: 100%;  
  -o-object-fit: cover;
  -o-object-position: 50% 50%;
  object-fit: cover;
  object-position: 50% 50%;
  height: 236px;
}
