@import "portblog-item";

$separator-button-color: rgba(160,160,160,0.2);

.actions {	
	text-align: center;	
	padding-right: 15px;
   	padding-left: 15px;
}

.actions > div {	
   padding-right: 0;
   padding-left: 0;

}

.actions a {
	color: $titles-color;
	display: block;
    padding: 10px 0;
	transition: all .3s;
	border-top: 1px solid $separator-button-color;
    &:hover {
    	background: #e9ecef;
    }
}

.portfolio-item .box-body .cover a img {
	height: 280px;
}


.actions div:nth-child(1) a {
	border-right: 1px solid $separator-button-color;
}

.container-portfolio-item {
	padding: 0;
}



