.portblog-item {  
    margin: 10px;
    background-color: white;
    box-shadow: 0px 2px 6px 0px rgba(133, 154, 153, 0.3);
}


.portblog-item .box-body .cover a img {
  width: 100%;  
  -o-object-fit: cover;
  -o-object-position: 50% 50%;
  object-fit: cover;
  object-position: 50% 50%;
  height: 236px;
}
