@import "portblog-item";

$separator-button-color: rgba(160,160,160,0.2);

.actions {	
	text-align: center;	
	padding-right: 15px;
   	padding-left: 15px;
}

.actions > div {	
   padding-right: 0;
   padding-left: 0;

}

.actions a {
	color: $titles-color;
	display: block;
    padding: 10px 0;
	transition: all .3s;
	border-top: 1px solid $separator-button-color;
    &:hover {
    	background: #e9ecef;
    }
}

.portfolio-item .box-body .cover {
	overflow: hidden;
	position: relative;
	display: block;
	transition: all .3s;

	&:hover{
		 box-shadow: 0 0 0 2px #5fd3fa;
	}

	&:hover img {
			transform: scale(1.05);
	}


	.info-portfolio-item-container {		
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		transition: all .3s;

		&:hover {

			background: rgba(0, 0, 0, 0.4196078431372549);
		}

		.info-portfolio-item-cont-relative {
			position: relative;
			width: 100%;
			height: 100%;

			.info-portfolio-item {				
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;

				.portfolio-item-info {
					background: #F5F5F5;
					padding: 15px 10px;

					.name {
						margin-top: 0;
						margin-bottom: 0;
						color: #3E4452;
						text-overflow: ellipsis;
					}

				}

				.view-portfolio-item {
					background: green;
					padding: 15px 10px;
					.view-project {
						margin-top: 0;
						margin-bottom: 0;
						color: white;
					}
				}
			}
			
		}
	}
}
.portfolio-item .box-body .cover a img {
	height: 280px;
	transition: all .3s ease-in-out;
	
}


.actions div:nth-child(1) a {
	border-right: 1px solid $separator-button-color;
}

.container-portfolio-item {
	padding: 0;
}



