@import "portblog-item";

$separator-button-color: rgba(160,160,160,0.2);



.portfolio-item .box-body .cover {
	overflow: hidden;
	position: relative;
	display: block;
	transition: all .3s;

	&:hover img {
		transform: scale(1.05);
	}



	.info-portfolio-item-container {		
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		transition: all .3s;

		&:hover .info-portfolio-item-cont-relative .info-portfolio-item  {
			transform: translateY(0px);
		}

		.info-portfolio-item-cont-relative {
			position: relative;
			width: 100%;
			height: 100%;

			.info-portfolio-item {				
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				transition: all .4s;
				transform: translateY(47px);

				.portfolio-item-info {
					//background: #F5F5F5;
					padding: 15px 10px;

					.name {
						margin-top: 0;
						margin-bottom: 0;
						color: white;
						text-overflow: ellipsis;
					}

				}

				.view-portfolio-item {
					background: #3ca740;					
					height: 50px;
					display: flex;
    				align-items: center;
					.view-project {
						margin-top: 0;
						margin-bottom: 0;
						color: white;
						text-align: center;
						text-transform: uppercase;	
						width: 100%;
					}
				}
			}
			
		}
	}
}
.portfolio-item .box-body .cover img {
	height: 300px;
	transition: all .3s ease-in-out;
	
}

