@import 'variables';
$title-color: #555555;
$subtitle-color: #666666;
$hr-post-color: #00BAB7;


.post-image-full {
	

  @include breakpoint(md)  {
	height: 450px;
	-o-object-fit: cover;
  -o-object-position: 50% 50%;
  object-fit: cover;
  object-position: 50% 50%;

  }
}

.post-container {
  max-width: 740px;
  font-size: $fs-blog;
  line-height: 1.58;
  letter-spacing: -.004em;
}

.post-container .title-post {
	font-size: 48px;
	line-height: 1.4;
	color: $title-color;
	padding-top: 30px;
	font-family: 'Raleway';
	font-weight: 900;
	text-transform: capitalize;
    
	text-align: center;
}

.post-container .subtitle-post {
	color: $subtitle-color;
	text-align: center;
	font-family: $avenir-medium;
	font-size: 24px;
	line-height: 28px;
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 15px;
	margin-top: 15px;
	opacity: 1;
}

.post-container hr.post-hr-header {
	background-color: $hr-post-color;
	width: 65px;
	height: 4px;
	border: none;	
}

.post-author-date {
	text-align: center;
	margin-bottom: 60px;
	font-size: 14px;
	font-family: $avenir-heavy;
}

.post-author-date .author {

}

.post-author-date .date {
	text-transform: uppercase;
}


.img-main-post {
	
}


/**Estilos para el post ----------------------------- **/
.theme-light-post {
	background: #f7f7f7;
	font-family: "Avenir LT Std 65 Medium",sans-serif;
	color: #353f46;
}









.post-share .share-icons a i {
  font-size: 25px;
  padding: 10px;
  //border: 1px solid #D8D8D8;
  border-radius: 50%;
}

.post-share .share-icons {
  text-align: center;
} 
