@import 'variables';
$title-color: #555555;
$subtitle-color: #666666;
$hr-post-color: #00BAB7;


.post-image-full {
	
	position: absolute;
	top: 0;
  @include breakpoint(md)  {
	height: 480px;
	-o-object-fit: cover;
  -o-object-position: 50% 50%;
  object-fit: cover;
  object-position: 50% 50%;

  }
}

.post-container {
  max-width: 740px;
  font-size: $fs-blog;
  line-height: 1.58;
  letter-spacing: -.004em;
}

.post-container .title-post {
	font-size: 48px;
	line-height: 1.4;
	color: $title-color;
	padding-top: 30px;
	font-family: 'Raleway';
	font-weight: 900;
	text-transform: capitalize;
    
	text-align: center;
}

.post-container .subtitle-post {
	color: $subtitle-color;
	text-align: center;
	font-family: $avenir-medium;
	font-size: 24px;
	line-height: 28px;
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 15px;
	margin-top: 15px;
	opacity: 1;
}

.post-container hr.post-hr-header {
	background: -webkit-linear-gradient(317deg, #5bc6ea 0%, #5bc6ea 33%, #03e27e 68%, #03e27e 100%);
	background: -o-linear-gradient(317deg, #5bc6ea 0%, #5bc6ea 33%, #03e27e 68%, #03e27e 100%);
	background: linear-gradient(47deg, #5bc6ea 0%, #5bc6ea 33%, #03e27e 68%, #03e27e 100%);
	width: 70px;
	height: 5px;
	border: none;	
}

.post-author-date {
	text-align: center;
	margin-bottom: 60px;
	font-size: 14px;
	font-family: $avenir-heavy;
}

.post-author-date .author {

}

.post-author-date .date {
	text-transform: uppercase;
}


.img-main-post {
	
}


/**Estilos para el post ----------------------------- **/
.theme-light-post {
	background: #f3f3f3;	
	color: #33475b	;
	box-shadow: 0 0 90px #000000;

	.gist .highlight {
		background: #fbfbfb;
	}
}

.theme-dark-post {
	background: #0d1922;	
	color: #a0a0a0;

	.post-container {
		.title-post {
			color: white;
		}
		
	} 


}

.background-image-post-container  {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 480px;
	background: linear-gradient(0deg, rgba(153,218,255,0) 0%, rgba(0, 0, 0, 0.78) 100%);

}
.theme-post {
	font-family: "Avenir LT Std 65 Medium",sans-serif;		
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-top: 180px;

	@media (max-width: 960px) { 
		margin-top: 83px;
		
	}
	margin-bottom: 50px;

	.post-image-full {
		position: relative;
	}



	h2, h3, h4, h5, h6 {	
		font-family: $avenir-heavy;	
	}

	a {
		color: #0fc798;
	}
}









.post-share .share-icons a i {
  font-size: 25px;
  padding: 10px;
  //border: 1px solid #D8D8D8;
  border-radius: 50%;
}

.post-share .share-icons {
  text-align: center;
} 
