
$title-color: #555555;
$subtitle-color: #666666;
$hr-post-color: #00BAB7;


.post-container {
  max-width: 740px;
  font-size: $fs-blog;
  line-height: 1.58;
  letter-spacing: -.004em;
}

.post-container .title-post {
	font-size: 48px;
	line-height: 1.4;
	color: $title-color;
	padding-top: 30px;
	text-align: center;
}

.post-container .subtitle-post {
	color: $subtitle-color;
	text-align: center;
	font-family: $avenir-medium;
	font-size: 24px;
	line-height: 28px;
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 15px;
	margin-top: 15px;
	opacity: 1;
}

.post-container hr.post-hr-header {
	background-color: $hr-post-color;
	width: 65px;
	height: 4px;
	border: none;	
}

.post-author-date {
	text-align: center;
	margin-bottom: 70px;
	font-size: 14px;
	font-family: $avenir-heavy;
}

.post-author-date .author {

}

.post-author-date .date {
	text-transform: uppercase;
}


.img-main-post {
	
}


.container-background {
	background: -moz-linear-gradient(84deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 76%, rgba(206,244,213,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(206,244,213,1)), color-stop(24%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(84deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 76%, rgba(206,244,213,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(84deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 76%, rgba(206,244,213,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(84deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 76%, rgba(206,244,213,1) 100%); /* ie10+ */
	background: linear-gradient(6deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 76%, rgba(206,244,213,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cef4d5', endColorstr='#ffffff',GradientType=0 ); /* ie6-9 */
}



.post-share .share-icons a i {
  font-size: 25px;
  padding: 10px;
  //border: 1px solid #D8D8D8;
  border-radius: 50%;
}

.post-share .share-icons {
  text-align: center;
} 
