@import 'variables';

.project-container {
	background: white;
	margin: 30px 0;
	padding: 60px 0;
}

.title-project {
	padding-top: 0;
	font-weight: 900;
    font-size: 33px;
    color: #2A2F36;
}

.subtitle-project {
	 font-size: 16px;
    text-align: left;
    color: #a5acb5;
    margin: 0;
}

.project-details {
	  background: #f0f4f7;
    border-radius: 4px;
    padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.01) 0px 0px 0px 1px, rgba(0, 0, 0, 0.09) 0px 1px 4px;
    
}

 .project-details p {
	margin-top: 6px;
	margin-bottom: 6px;
}

 .project-details h3 {
	margin: 0;
}


.buttons-container {
	margin-top: 35px;

	.btn {
		margin-top: 10px;
		margin-bottom: 10px;
		&:hover {
			color: white;
		}
		img {
			padding-right: 4px;
			    top: -2px;
    position: relative;
		}
	}

	.btn-code {
		background: #333;
	}

	.btn-demo {

	}
}

.img-project {
	//max-height: 410px;
	width: 100%;  
	// -o-object-fit: cover;
	// -o-object-position: 50% 50%;
	// object-fit: cover;
	// object-position: 50% 50%;	
}

.project-container hr {
	background: #f53d00;
	height: 2px;
	margin-top: 5px;
	margin-bottom: 30px;
}

.main-image{
	box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}

.project-data {
	margin-bottom: 42px;
}

@media (min-width: 768px) { 
	.project-data {
		margin-bottom: 0;
	}	
}