@import 'variables';

.project-container {
	max-width: 992px;
	font-size: $fs-blog;
	line-height: 1.5;
	letter-spacing: 0;	
	background: #f3f3f3;
	box-shadow: 0 0 90px #000000;
	margin-bottom: 50px;
	font-family: "Avenir LT Std 65 Medium",sans-serif;	
	h2, h3, h4, h5, h6 {	
		font-family: $avenir-heavy;	
	}

	 &.padding-post {
  		margin-top: 100px;  	
  	}
}

.post-container .title-project {
	padding-top: 0;
}

.post-container .project-details p {
	margin-top: 6px;
	margin-bottom: 6px;
}

.post-container .project-details h3 {
	margin: 0;
}

.img-project {
	//max-height: 410px;
	width: 100%;  
	// -o-object-fit: cover;
	// -o-object-position: 50% 50%;
	// object-fit: cover;
	// object-position: 50% 50%;	
}

.project-container hr {
	background: #f53d00;
	height: 2px;
	margin-top: 5px;
	margin-bottom: 30px;
}


.project-data {
	margin-bottom: 42px;
}

@media (min-width: 768px) { 
	.project-data {
		margin-bottom: 0;
	}	
}