.project-container {
	font-size: 1.05em;
	line-height: 1.5;
	letter-spacing: 0;
}

.post-container .title-project {
	padding-top: 0;
}

.post-container .project-details p {
	margin-top: 6px;
	margin-bottom: 6px;
}

.post-container .project-details h3 {
	margin: 0;
}