.skills {
	background: #819da0;
	padding: 60px 0;
	text-align: center;

	.title-page-container  {
		text-align: left;
		margin-top: 30px;
		margin-bottom: 100px;	
	}

	.title-page {
		
	  &.title {
	  
	    .sub {
	    	color: white;
	    	left: 42%;
	    }

	  }  
	}


}