.skills {
	background: #7b9e7d;


	.title-page-container  {
		text-align: left;
		margin-top: 30px;
		margin-bottom: 100px;	
	}

	.title-page {
		
	  &.title {
	  
	    .sub {
	    	color: white;
	    	left: 31%;
	    }

	  }  
	}


}