$font-size-social-sharing: 40px;

.social-sharing-row {
    justify-content: center;
}
.social-sharing-row .social-sharing-container {
    display: flex;
}

.fa.social-share-link {
    padding: 7px;
    background: #00000059;  
    display: inline-block;
    color: white;       
    
        border-radius: 50%;
    font-size: 22px;
    margin: 5px;
    width: 24px;
    text-align: center;
    box-sizing: content-box !important;    
    text-decoration: none !important; 
    transition: all .4s;
    &:hover {       
        color: white !important;        
    }
}

.share-on-container p {
    margin: 0;
    font-weight: 600;

    font-size: 1rem;
        color: #34485d;

    .icon {
        top: -2px;
        position: relative;
    }
}


.social-sharing-row .social-sharing-container .fa.fa-twitter {
  
    background: $twitter-color !important;

}

.social-sharing-row .social-sharing-container .fa.fa-facebook {
  
    background: $facebook-color !important;
  
}

.social-sharing-row .social-sharing-container .fa.fa-google-plus {
  
    background: $google-plus-color !important;
  
}

.social-sharing-row .social-sharing-container .fa.fa-linkedin {
  
    background: $linkedin-color !important;
  
}
