.suscribe-container {
	text-align: center;
	padding-top: 55px;
	padding-bottom: 55px + 45px; // 45px altura del input
}


.form-suscribe .form-container {
	position: relative;
}

.suscribe-container .title-suscribe{
	font-size: 36px;
	line-height: 38px;
	font-family: $avenir-medium;
	margin-bottom: 30px;
	margin-top: 0;
	color: #395f58 !important;
}

.suscribe-container .email {
	width: 70%;
	display: inline-block;
	margin: 0;
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    left: 0;
	position: absolute;
}
.suscribe-container .sign-in {
	width: 30%;
	margin-left: -1px;
	display: inline-block;
	margin: 0;
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;    
    right: 0;
    position: absolute;
    font-family: $avenir-black;
     min-height: 38px !important;
    height: 45px !important;
    padding: 0;
}