.suscribe-container {
	background: white;
	box-shadow: rgba(0, 0, 0, 0.01) 0px 0px 0px 1px, rgba(0, 0, 0, 0.09) 0px 1px 4px;		
}
.suscribe-container {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 120px; // 45px altura del input
	    margin-top: 40px;
    margin-bottom: 40px;
    border-bottom: 10px solid #e24f54;
}


.form-suscribe .form-container {
	position: relative;
}


.suscribe-container {
	.slogan-blog {
		padding-bottom: 35px;
		color: rgba(0, 0, 0, 0.4588235294117647);
    	font-size: 17px;
    	font-family: $avenir-book;
    		font-family: 'Poppins';
    		font-weight: 500 !important;

	}
}
.suscribe-container .title-suscribe{
	font-size: 38px;
	line-height: 38px;
	margin-bottom: 15px;
	margin-top: 0;
	color: #232323 !important;

	text-transform: capitalize;
	font-family: 'Poppins';
		font-weight: 500 !important;
		font-weight: 600 !important;

	font-family: $avenir-heavy;
}

.suscribe-container .email {
	width: 70%;
	display: inline-block;
	margin: 0;
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    left: 0;
	position: absolute;
	font-family: 'Poppins';
	font-weight: 500 !important;
		

}
.suscribe-container .sign-in {
	width: 30%;
	margin-left: -1px;
	display: inline-block;
	margin: 0;
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;    
    right: 0;
    	position: absolute;     
    height: 47px !important;
    padding: 0;
}