//$body-bg: #E42E38;
//$body-color: #532;
//$font-size-base: 0.9rem; // Me parece muy pequeña
// $theme-colors: (
//   "primary": #333333,
//   "danger": #ff4136
// );


// Bootstrap and its default variables
//@import "bootstrap";



/** Global Colors **/
	// For h*
	$titles-color: #0D2B29;

	$font-color: #648785;


/* Global sizes */
	$font-size: 16px;



$padding-navbar: 0.4rem;


$fs-blog: 1.2rem;


$primary-color: #FFFFFF;
$secondary-color: #13131b;
$hover-default-color: #00b3fe;



// Navbar colors
		$navlink-color: #2b2b2b;


$transition-hover: 0.4s;
