//$body-bg: #E42E38;
//$body-color: #532;
//$font-size-base: 0.9rem; // Me parece muy pequeña
// $theme-colors: (
//   "primary": #333333,
//   "danger": #ff4136
// );


// Bootstrap and its default variables
//@import "bootstrap";



$padding-navbar: 0.4rem;
$fs-menu: 13px;
$fs-footer-love: 14px;
$footer-paddint-tb: 40px;

$fs-blog: 1.2rem;


$primary-color: #FFFFFF;
$hover-default-color: #00b3fe;



// Navbar colors
$navlink-color: #384452;
