//$body-bg: #E42E38;
//$body-color: #532;
//$font-size-base: 0.9rem; // Me parece muy pequeña
$theme-colors: (
  "primary": #384452,
  "danger": #ff4136
);


// Ubicación de las fuentes
$fa-font-path: "assets/fonts";

// Bootstrap and its default variables
@import "bootstrap";
@import "font-awesome/font-awesome";


$padding-navbar: 0.3rem;
$fs-menu: 13px;