---
layout: blog
title: "Blog"
scripts:
 - index
---

<body itemscope="" itemtype="http://schema.org/Blog">
	<div class="container-background">
	    {% include navbar.html %}

	    

		<div class="container container-full posts-container pt">
			<div class="row">
				<!-- No se incluiran los projects por que tienen hidden:true -->
			     {% for post in paginator.posts %}		     			     	
					{% include blog-item2.html %}			     	
				 {% endfor %}
			</div>				

		    {% include pagination-buttons.html %}
		</div>

		
		{% include suscribe.html %}
		
		
	  	{% include footer.html %}
		
	</div>
</body>
