---
layout: blog
title: "Blog"
scripts:
 - index
---

<body itemscope="" itemtype="http://schema.org/Blog">
	<div class="container-background">
	    {% include navbar.html %}

	    

		<div class="container container-full pt">
			<div class="row">
				<!-- No se incluiran los projects por que tienen hidden:true -->
			     {% for post in paginator.posts %}		     			     	
					{% include blog-item.html %}			     	
				 {% endfor %}
			</div>				

		    <!-- PAGINACION -->
			<div class="pagination">
			  {% if paginator.previous_page %}
			    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
			  {% else %}
			    <span class="previous">Previous</span>
			  {% endif %}
			  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
			  {% if paginator.next_page %}
			    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
			  {% else %}
			    <span class="next ">Next</span>
			  {% endif %}
			</div>

		    <!-- FIN PAGINACION -->
		</div>

		
		{% include suscribe.html %}
		
		
	  	{% include footer.html %}
		
	</div>
</body>
