---
layout: default
title: "Blog"
style:
 name: post
 embedded: true
comments: true
---

<body class="body-post">	
	{% include navbar.html %}			
	<div class="main-wrapper" id="mainWrapper">		
		<div>
			{% if page.image.feature %}
				<img class="post-image-full" width="100%" src="{{ site.baseurl }}/assets/images/{{ page.image.feature }}" alt="">				
			{% elsif page.feature %}
				<img class="post-image-full" width="100%" src="{{ page.feature }}" alt="">				
			{% else %}
				<img src="{{ site.baseurl }}/assets/images/thumb01.jpg" alt="">
			{% endif %}			
		</div>		
		<div class="theme-post theme-light-post">
			
			<div class="post-content">
				<div class="container post-container">

					<h1 class="title-post">{{ page.title }}</h1>	
					{% if page.subtitle %}
						<h2 class="subtitle-post">{{ page.subtitle }}</h2>
					{% endif %}

					<hr class="post-hr-header">

					<div class="post-author-date">
						<span>
							<a class="author" href="dantecalderon.com">DANTE CALDERON,</a>
							<span class="date">
							{{ page.date | date: '%B %d, %Y' }}
							</span>
						</span>				
					</div>

					{% include social-sharing.html %}
					<hr>
					{{ content }}	
				</div>
			</div>
			<hr>
			{% include social-sharing.html %}														
			<div class="container post-container pb-md">
				<div id="disqus_thread"></div>
			</div>
		</div>


	</div>
	{% include suscribe.html %}
	{% include footer.html %}

	<script src="{{ site.baseurl }}/assets/scripts/progress-bar.js"></script>
	<!-- DISQUS --->
	{% if layout.comments %}
		<script src="{{ site.baseurl }}/assets/scripts/disqus.js"></script>
		<script id="dsq-count-scr" src="//dantecalderon.disqus.com/count.js" async></script>
	{% endif %}
</body>