---
layout: default
style:
 name: post
 embedded: true
---

<body>	
	<div class="container-background">
		{% include navbar.html %}


		<div class="container post-container">

			{% if page.image.feature %}
				<img width="100%" src="{{ site.baseurl }}/assets/images/{{ page.image.feature }}" alt="">
			{% else %}
				<img src="{{ site.baseurl }}/assets/images/thumb01.jpg" alt="">
			{% endif %}
			
			<h1 class="title-post">{{ page.title }}</h1>	
			
			{% if page.subtitle %}
				<h2 class="subtitle-post">{{ page.subtitle }}</h2>
			{% endif %}

			<div class="post-author-date">
				<span>
					<a class="author" href="dantecalderon.com">DANTE CALDERON,</a>
					<span class="date">
					{{ page.date | date: '%B %d, %Y' }}
					</span>
				</span>
				
			</div>

			{{ content }}	
<!-- 			<p>SHARE: </p>
 -->			<!-- {% include social-sharing.html %} -->
		</div>


		{% include footer.html %}
	</div>
</body>